@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  height: 100vh;
}

.banner {
  background-image: url("../images/pattern-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  position: relative;
}

@media (min-width: 768px) {
  .banner {
    height: 28rem;
  }
}

.banner .title {
  color: white;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.023rem;
  padding-top: 2.6rem;
  padding-bottom: 2.9rem;
}

@media (min-width: 768px) {
  .banner .title {
    font-size: 3.2rem;
    padding-top: 3.3rem;
    padding-bottom: 3.1rem;
  }
}

.banner .ip-form {
  width: 87.2%;
  max-width: 55.5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2.4rem;
}

@media (min-width: 768px) {
  .banner .ip-form {
    padding-bottom: 4.8rem;
  }
}

.banner .ip-form .ip-input {
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  height: 5.8rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 0 2.4rem;
}

.banner .ip-form .ip-input:focus {
  outline: none;
}

.banner .ip-form .search-btn {
  cursor: pointer;
  border: none;
  width: 5.8rem;
  height: 5.8rem;
  background: black;
  border-radius: 0 1.5rem 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s;
}

.banner .ip-form .search-btn:hover, .banner .ip-form .search-btn:focus {
  background-color: #404040;
}

.banner .ip-form .search-btn:focus {
  outline: none;
}

.banner .ip-info {
  background: white;
  width: 87.2%;
  max-width: 111rem;
  margin: 0 auto;
  padding-top: 2.6rem;
  border-radius: 1.5rem;
  position: absolute;
  z-index: 1000;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .banner .ip-info {
    padding-top: 3.7rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .banner .ip-info .wrapper {
    margin: 0 3.2rem;
    position: relative;
  }
  .banner .ip-info .wrapper:nth-of-type(2)::before,
  .banner .ip-info .wrapper:nth-of-type(3)::before,
  .banner .ip-info .wrapper:nth-of-type(4)::before {
    content: '';
    width: 0.1rem;
    height: 65%;
    position: absolute;
    left: -3.2rem;
    top: 0rem;
    background: rgba(0, 0, 0, 0.15);
  }
}

.banner .ip-info .info-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.185rem;
  letter-spacing: 0.146rem;
  padding-bottom: 0.7rem;
  color: #969696;
}

@media (min-width: 768px) {
  .banner .ip-info .info-title {
    text-align: start;
  }
}

@media (min-width: 900px) {
  .banner .ip-info .info-title {
    text-align: start;
    font-size: 1.2rem;
    line-height: 1.422rem;
    letter-spacing: 0.175rem;
    padding-bottom: 1.3rem;
  }
}

.banner .ip-info .info-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.018rem;
  padding-bottom: 2.5rem;
  color: #2b2b2b;
}

@media (min-width: 768px) {
  .banner .ip-info .info-text {
    text-align: start;
  }
}

@media (min-width: 900px) {
  .banner .ip-info .info-text {
    text-align: start;
    font-size: 2.6rem;
    line-height: 3rem;
    letter-spacing: -0.023rem;
    padding-bottom: 3.7rem;
  }
}

#map {
  height: calc(100% - 30rem);
  min-height: 50rem;
}

@media (min-width: 768px) {
  #map {
    height: calc(100% - 28rem);
  }
}
/*# sourceMappingURL=style.css.map */