@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

$veryDarkGray: hsl(0, 0%, 17%);
$darkGray: hsl(0, 0%, 59%);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.banner {
    background-image: url('../images/pattern-bg.png');
    background-size: cover;
    background-position: center;
    height: 30rem;
    @media(min-width: 768px) {
        height: 28rem;
    }
}